#titre_principale
{
	height: 50px;
	text-align:center;
}
#formulaire
{
	margin-left:60px;
	text-align:center;
}
div#trait
{
	height: 5px;
	margin:0 auto;
	background-color:red;
}
body
{
	background-color:silver;
}
